body{
    text-align:center;
  }
  table{
    border:2px solid black;
    padding:5px;
    width:100%;
    height:auto;
  }
  table caption{
    font-size:32px;
    color:green;
  }
  table th{
    border:2px solid black;
    height:50px;
    font-size:28px;
  }
  button{
    border:1px solid green;
    border-radius:5px;
    padding-y:10px;
    font-size:16px;
  }